%h1 Artists
%br

%table
  %thead
    %tr
      %th Name
      %th Image
      %th Notes
      %th Favourite
      %th Show
      %th Edit
      %th Destroy

  %tbody
    - @artists.each do |artist|
      %tr
        %td= artist.name
        %td= artist.image
        %td= artist.notes
        %td= artist.favourite
        %td= link_to 'Show', artist
        %td= link_to 'Edit', edit_artist_path(artist)
        %td= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Artist', new_artist_path
