
%p
  %b Name:
  = @artist.name
%p
  %b Image:
  %img{:src => @artist.image}
%p
  %b Notes:
  = @artist.notes
%p
  %b Favourite:
  = @artist.favourite

%p= link_to I18n.t('artists.show.AddAlbum'), new_album_path(artist_id: @artist), :class => "btn btn-primary full-width"

%p Albums:
%table
  %tbody
    - @artist.albums.each do |album|
      %tr{id: "artist_#{@artist.id}"}
        %td= album.name
        %td= link_to I18n.t('artists.show.show'), album, :class => "btn btn-primary full-width"
        %td= link_to I18n.t('artists.show.edit'), edit_album_path(album), :class => "btn btn-primary full-width"
        %td= link_to I18n.t('artists.show.destroy'), album, :method => :delete, :data => { :confirm => 'Are you sure?'}, :remote => true, :class => "btn btn-primary full-width"

%br

= link_to 'Edit', edit_artist_path(@artist), :class => "btn btn-primary full-width"
\|
= link_to 'Back', artists_path, :class => "btn btn-primary full-width"
