
%p
  %b Name:
  = @artist.name
%p
  %b Image:
  = @artist.image
%p
  %b Notes:
  = @artist.notes
%p
  %b Favourite:
  = @artist.favourite

%p= link_to 'Add Album', new_album_path(artist_id: @artist)

%p Albums:
%table
  %tbody
    - @artist.albums.each do |album|
      %tr
        %td= album.name
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Delete', album, :method => :delete, :data => { :confirm => 'Are you sure?'}

= link_to 'Edit', edit_artist_path(@artist)
\|
= link_to 'Back', artists_path
