%nav
  - if user_signed_in?
    = "#{current_user.email} |"
    = link_to t('profile'), edit_user_registration_path
    = '|'
    = link_to t('sign_out'), destroy_user_session_path, method: 'delete'


- flash.each do |key, value|
  = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?

%header
  %div{:class => "container text-center"}
    %h1= t('app_title')
