
%p
  %b Album:
  = @song.album.name
%p
  %b Name:
  = @song.name
%p
  %b Notes:
  = @song.notes
%p
  %b Favourite:
  = @song.favourite


= link_to 'Edit', edit_song_path(@song), :class => "btn btn-primary full-width"
\|
= link_to 'Back', songs_path, :class => "btn btn-primary full-width"
