= form_for @album do |f|
  - if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this artist from being saved:"
      %ul
        - @album.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = @album.artist.name
    = f.hidden_field :artist_id, value: @album.artist.id
  .field
    =f.label :name
    =f.text_field :name
  .field
    = f.label :image_url
    = f.text_field :image
  .field
    = f.label :genre
    = f.text_field :genre
  .field
    = f.label :notes_are_optional
    = f.text_area :notes
  .field
    = f.label :favourite
    = f.check_box :favourite
  .actions
    = f.submit I18n.t('albums.form.save'), :class => "btn btn-primary full-width"

%br
