%h1= I18n.t('albums.edit.name')
%p= I18n.t('albums.edit.subtitle')

= render 'form'

= link_to 'Show', @album, :class => "btn btn-primary full-width"
\|
= link_to 'Back', albums_path, :class => "btn btn-primary full-width"
