%h1 Albums
%br

%table
  %thead
    %tr
      %th Artist
      %th Name
      %th Genre
      %th Notes
      %th Favourite
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.artist.name
        %td= album.name
        %td= album.genre
        %td= album.notes
        %td= album.favourite
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }

%br
