
%p
  %b Artist:
  = @album.artist.name
%p
  %b Name:
  = @album.name
%p
  %b Genre:
  = @album.genre
%p
  %b Image:
  %img{:src => @album.image}
%p
  %b Notes:
  = @album.notes
%p
  %b Favourite:
  = @album.favourite

%p Songs:
%table
  %tbody
    - @album.songs.each do |song|
      %tr
        %td= song.name
        %td= link_to I18n.t('album.show.show'), song, :class => "btn btn-primary full-width"
        %td= link_to I18n.t('album.show.edit'), edit_song_path(song), :class => "btn btn-primary full-width"
        %td= link_to I18n.t('album.show.destroy'), song, :method => :delete, :data => { :confirm => 'Are you sure?'}, :class => "btn btn-primary full-width"
%br 
%p= link_to I18n.t('album.show.AddSong'), new_song_path(album_id: @album), :class => "btn btn-primary full-width"

%br
= link_to 'Edit', edit_album_path(@album), :class => "btn btn-primary full-width"
\|
= link_to 'Back', albums_path, :class => "btn btn-primary full-width"
