%p= "Dear #{t('app_title')}"
%p= "Could you get in touch with me please ?"
%p= "Thank you"

%dl
  %dt Name:
  %dd= @name
  %dt Email:
  %dd= @email
  %dt Telephone:
  %dd= @telephone

%p= @message

%p= @name
